<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tabs-menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tabs-menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="my-books">
        <ion-icon name="library"></ion-icon>
        Book's List
      </ion-tab-button>

      <ion-tab-button tab="add-books">
        <ion-icon name="add-circle"></ion-icon>
        Add Book
      </ion-tab-button>

      <ion-tab-button tab="book-categories">
        <ion-icon name="bookmarks-outline"></ion-icon>
        Book category
      </ion-tab-button>

      <ion-tab-button tab="add-book-categories">
        <ion-icon name="add-circle"></ion-icon>
        Add category
      </ion-tab-button>

      <ion-tab-button tab="book-reviews">
        <ion-icon name="star-outline"></ion-icon>
        book Reviews
      </ion-tab-button>

      <ion-tab-button tab="add-book-reviews">
        <ion-icon name="add-circle"></ion-icon>
        Add Reviews
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>